*.iml
.gradle/
.kotlin/
/local.properties
/local.properties.*
!/local.properties.example
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
*.apk
*.aab
*.keystore
!debug.keystore
